.body-1{
    background-color: black;
}

.title-container{
display: flex;
justify-content: flex-end;
flex-direction: column;
}

.image-1{
display: flex;
justify-content: center;
align-items: center;
margin-top: -50px;

}

.btn-outline-light{
    padding: 20px;
}
.start-button{
    display: flex;
    justify-content: center;
}

.title{
    display: flex;
    justify-content:center;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
/* gift HTML */
.body-2 {
    background-color: rgba(231, 194, 103, 0.825);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    min-height: 100vh; /* Ensures the body fills the full viewport height */
}
.btn-warning{
    position: absolute;
    right: 580px;
    bottom: 100px;
}
.btn-danger {
    position: absolute;
    top: 20px;
    left: 20px;

}
.img-2{
    transform: rotate(20deg);
    position: absolute;
    height: 100px;
    width: 150px;
    right: -10px;
}
.img-1{
    transform: rotate(30deg);
    right: 460px;
    position: absolute;
    top: 145px;
    height: 50px;
    width: 50px;
}

.title-2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
}

.text-container {
    background-color: rgb(255, 249, 198);
    font-family:'Courier New', Courier, monospace;
    border: 2px solid black; /* Black border */
    padding: 10px; /* Space inside the container */
    width: 500px; /* Adjust width */
    height: 400px;
    text-align: center; /* Centers text inside */
    margin-top: 100px; /* Pushes it down from the title */
}
